# Scala Metals
.metals/
.bloop/
.ammonite/
metals.sbt

# vscode
.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

# Mac
.DS_Store

# Eclipse
bin/
.settings/
.classpath

# Intellij
.idea/
target/

# Maven
log/
# target/
null/

# Gradle
.gradle/
build/
pom.xml

# sbt
.cache
.history
.lib/
.bsp
dist/*
#target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/

# Scala-IDE specific
.scala_dependencies
.worksheet
.sc

# Scala
*.class
*.log

# Sonar
.sonar/
